$font1:'DM Sans',sans-serif;
$font2:'Outfit',sans-serif;
$font3:'Candal',sans-serif;
$black: #2E2E48;
$gray: #79819A;
$gray-dark: #47516b;
$gray-light: #E2E6EE;
$gray-light2: #F7F9FC;
$primary: #9251F7;
$white: #fff;

